*{
    margin: 0;
    padding:0;
    text-align:center;
}
h1{
    height:5rem;
    line-height: 5rem;
    background-color:#6F58C9;
    color:white;
}
.choice{
    height:165px;
    width:165px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.choice:hover{
    cursor:pointer;
    background-color:black;
}
img{
    height:150px;
    width:150px;
    object-fit:cover;
    border-radius:50%;
}
.choices{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:3rem;
    gap:3rem;
}
.score-board{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:2rem;
    gap:4rem;
    margin-top:4rem;
}
#user-score,#computer-score{
    font-size:4rem;
}
.msg-container{
    margin-top:3rem;
}
#msg{
    font-size:1.75rem;
    display:inline;
    height:5rem;
    background-color: #6951FC;
    padding:1rem;
    border-radius:0.5rem;
    color:white;
}